{
  "use": "HiveOnCDH", // Use Configuration
  "HiveOnCDH": {
    "auth": "NOSASL",
    "host": "my-hive.com", // hive server hostname
    "port": 13333,    // port number
    "timeout": 10000, // timeout number(important, timeout is must be integer value)
    "username": "ironman", // username
    "hiveType": 1, // hive type number, (hive 0, cdh hive 1 see below HS2Util.js)
    "hiveVer": "0.13.1", // hive version
    "cdhVer": "5.3.0", // cdh version
    "thriftVer": "0.9.2", // thrift version
    "maxRows": 5120, // max row
    "nullStr": "NULL", // NULL field replace to this string
    "i64ToString": true // If you use i64 value that set true
  },
  "ApacheHive": {
    "auth": "NOSASL",
    "host": "111.112.113.114",
    "port": 14444,
    "timeout": 10000,
    "username": "ironman",
    "hiveType": 0,
    "hiveVer": "1.1.0",
    "thriftVer": "0.9.2",
    "maxRows": 5120,
    "nullStr": "NULL",
    "i64ToString": true
  },
  "Query": {
    "query": "select * from default.something where part_date > '20141111'" // Enter your query
  }
}
